<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.css"
          integrity="sha512-SI0aF82pT58nyOjCNfyeE2Y5/KHId8cLIX/1VYzdjTRs0HPNswsJR+aLQYSWpb88GDJieAgR4g1XWZvUROQv1A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">

    <!-- mobile viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- seo -->
    <meta name="description" content="Master Your Song Online">
    <meta name="keywords" content="Mastering, Master, Song, Online, Free">
    <meta name="author" content="Master Your Song Online">

    <style>

        .white {
            color: #E7ECEF;
        }

    .progress-container {
            width: 25%;
            margin: 0 auto;
        }

    .image{
            background-image: url('../static/background.jpg');
            background-size: cover;
            background-position: center center;
        }

    </style>
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body image">
        <div class="container has-text-centered">
            <h1 class="title is-1 white" id="headline">
                Your Song is Being Mastered
            </h1>
            <h2 class="subtitle is-5 white" id="subline">
                This will take a few minutes. When the mastering is complete, your file will be downloaded.
            </h2>
            <div class="progress-container">
                <progress class="progress is-small" max="100" id="progress">100%</progress>
            </div>
            <div class="container">
                <div class="" id="audio-holder-original"></div>
                <div class="" id="audio-holder-mastered"></div>
            </div>
        </div>
    </div>
</section>

<!-- script for checking if the file is ready -->
<script>
    window.addEventListener("load", () => {
        // get id
        const id = window.location.href.split("/").pop();

        const pollingInterval = setInterval(() => {
            // make api call
            const checkFileEndpointUrl = "/check_file/" + id;
            fetch(checkFileEndpointUrl)
                .then((response) => response.json())
                .then((data) => {
                    if (data.exists) {
                        // remove interval
                        clearInterval(pollingInterval)

                        // build urls
                        const downloadURL = "/download/" + id

                        // download file
                        window.location.href = downloadURL

                        // create new audio element
                        const audioHolderMastered = document.querySelector("#audio-holder-mastered")
                        const audio = addAudioElement(downloadURL, audioHolderMastered)

                        const progress = document.querySelector("#progress")
                        progress.remove()

                        const headline = document.querySelector("#headline")
                        headline.innerText = "Enjoy your Mastering!"

                        const subline = document.querySelector("#subline")
                        subline.innerText = "Feedback is highly appreciated!"

                    }
                });
        }, 10 * 1000)
    })

    const addAudioElement = (src, container, type = "audio/wav") => {
        // create audio element
        const audio = document.createElement("audio");

        // set source
        audio.controls = 'controls';
        audio.setAttribute("type", type)
        audio.className = ""

        // add to container
        container.appendChild(audio)

        // set source
        setTimeout(() => {
            audio.src = src
        }, 150)

        // for potential later usage
        return audio
    }
</script>

</body>
<script>
</script>
</html>