<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.css" integrity="sha512-SI0aF82pT58nyOjCNfyeE2Y5/KHId8cLIX/1VYzdjTRs0HPNswsJR+aLQYSWpb88GDJieAgR4g1XWZvUROQv1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <style>
        .rounded {
            border-radius: 16px;
        }
        .purple {
            background-color:#501537;
        }
        .white {
            color: #E7ECEF;
        }
        .blue {
            color: #28536B;
        }
        .gray {
            color: #6B7F82;
        }
        .magenta {
            color: #922D50;
        }
        .upload-button{
            background-color: #501537;
            color: #E7ECEF;
            border-radius: 16px;
        }

    </style>
</head>
<body>
   <section class="hero purple is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1 white">
            Master Your Song Online
          </h1>
          <h2 class="subtitle is-5 white">
            Upload your track and get your song mastered for free.
          </h2>
          <br>
            <div class="file is-boxed is-centered">
                <label class="file-label">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <br>
                        <div class="field">
                            <label class="label white">E-Mail</label>
                            <div class="control">
                                <input class="input" type="text" name="email" placeholder="example@example.com">
                            </div>
                        </div>
                        <div class="file is-boxed is-normal">
                            <label class="file-label">
                                <input class="file-input" type="file" name="file">
                                <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Upload Your Track
                              </span>
                            </span>
                            </label>
                        </div>
                        <br>
                        <input type="submit" class="button" value="Upload" name="submit">
                    </form>
                </label>
            </div>
   </section>
</body>
</html>